
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.my-nav{
    width: 70%;
}

body{
    background-color: rgb(51, 212, 78);
}

.home{
    width: 70%;
    margin-top: 1.2rem;
    padding: 1.1rem;
}

.home h1{
    margin-bottom: 15px;
}

.blog-container{
    border-radius: 20px;
    margin-bottom: 1.6rem;
    padding: 1.1rem;
    height: 7rem;
    background-color: rgb(220,233,223);
    box-shadow: 5px 5px 9px;
    transition: .5s;
    

}

.blog-container h3 a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.blog-container h3{
    font-family: cursive;
}

.blog-container h3 a:hover{
    color: rgb(131, 32, 32);
    text-decoration: underline;
}

.blog-container:hover{
    background-color: rgb(248, 248, 248);
}
.c-blog{
    width: 70%;
    margin-top: 25px;
    font-family: 'jersey';
    font-size: larger;
}
.c-blog h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}

.c-blog p{
    margin-top: 20px;
}
